.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 855px;
}

.u-section-1 .u-text-1 {
  text-transform: none;
  font-size: 3rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-1 .u-list-1 {
  width: 885px;
  margin: 60px auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 20.25px));
  min-height: 593px;
  grid-gap: 27px;
}

.u-section-1 .u-list-item-1 {
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-1 {
  padding: 0 6px;
}

.u-section-1 .u-image-1 {
  width: 95px;
  height: 95px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  width: 165px;
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  font-size: 0.875rem;
  margin: 24px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-2 {
  padding: 0 6px;
}

.u-section-1 .u-image-2 {
  width: 95px;
  height: 95px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  width: 165px;
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  font-size: 0.875rem;
  margin: 24px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-1 .u-list-item-3 {
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-3 {
  padding: 0 6px;
}

.u-section-1 .u-image-3 {
  width: 95px;
  height: 95px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-4 {
  width: 165px;
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  font-size: 0.875rem;
  margin: 24px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-1 .u-list-item-4 {
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-4 {
  padding: 0 6px;
}

.u-section-1 .u-image-4 {
  width: 95px;
  height: 95px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-5 {
  width: 165px;
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  font-size: 0.875rem;
  margin: 24px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-1 .u-list-item-5 {
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-5 {
  padding: 0 6px;
}

.u-section-1 .u-image-5 {
  width: 95px;
  height: 95px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-6 {
  width: 165px;
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  font-size: 0.875rem;
  margin: 24px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-1 .u-list-item-6 {
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-6 {
  padding: 0 6px;
}

.u-section-1 .u-image-6 {
  width: 95px;
  height: 95px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-7 {
  width: 165px;
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  font-size: 0.875rem;
  margin: 24px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-1 .u-list-item-7 {
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-7 {
  padding: 0 6px;
}

.u-section-1 .u-image-7 {
  width: 95px;
  height: 95px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-8 {
  width: 165px;
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  font-size: 0.875rem;
  margin: 24px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-1 .u-list-item-8 {
  animation-duration: 1000ms;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-8 {
  padding: 0 6px;
}

.u-section-1 .u-image-8 {
  width: 95px;
  height: 95px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-9 {
  width: 165px;
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  font-size: 0.875rem;
  margin: 24px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-1 .u-list-2 {
  width: 1015px;
  margin: 30px auto 60px 63px;
}

.u-section-1 .u-repeater-2 {
  grid-template-columns: repeat(3, calc(33.3333% - 18px));
  grid-gap: 27px;
}

.u-section-1 .u-list-item-9 {
  background-image: none;
}

.u-section-1 .u-container-layout-9 {
  padding: 0 30px;
}

.u-section-1 .u-image-9 {
  width: 0;
  height: 0;
  margin: 39px auto 0;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 39px auto 0;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 25px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-1 .u-list-item-10 {
  background-image: none;
}

.u-section-1 .u-container-layout-10 {
  padding: 0 30px;
}

.u-section-1 .u-image-10 {
  width: 0;
  height: 0;
  margin: 39px auto 0;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 39px auto 0;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 25px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-1 .u-list-item-11 {
  background-image: none;
}

.u-section-1 .u-container-layout-11 {
  padding: 0 30px;
}

.u-section-1 .u-image-11 {
  width: 0;
  height: 0;
  margin: 39px auto 0;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 39px auto 0;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 25px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-1 .u-list-item-12 {
  background-image: none;
}

.u-section-1 .u-container-layout-12 {
  padding: 0 30px;
}

.u-section-1 .u-image-12 {
  width: 0;
  height: 0;
  margin: 39px auto 0;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 39px auto 0;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 25px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-1 .u-list-item-13 {
  background-image: none;
}

.u-section-1 .u-container-layout-13 {
  padding: 0 30px;
}

.u-section-1 .u-image-13 {
  width: 0;
  height: 0;
  margin: 39px auto 0;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 39px auto 0;
}

.u-section-1 .u-btn-13 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 25px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-1 .u-list-item-14 {
  background-image: none;
}

.u-section-1 .u-container-layout-14 {
  padding: 0 30px;
}

.u-section-1 .u-image-14 {
  width: 0;
  height: 0;
  margin: 39px auto 0;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 39px auto 0;
}

.u-section-1 .u-btn-14 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 25px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-1 .u-list-item-15 {
  background-image: none;
}

.u-section-1 .u-container-layout-15 {
  padding: 0 30px;
}

.u-section-1 .u-image-15 {
  width: 0;
  height: 0;
  margin: 39px auto 0;
}

.u-section-1 .u-text-16 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 39px auto 0;
}

.u-section-1 .u-btn-15 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 25px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-1 .u-list-item-16 {
  background-image: none;
}

.u-section-1 .u-container-layout-16 {
  padding: 0 30px;
}

.u-section-1 .u-image-16 {
  width: 0;
  height: 0;
  margin: 39px auto 0;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 39px auto 0;
}

.u-section-1 .u-btn-16 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 25px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-1 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
}

.u-section-1 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 18px));
  }

  .u-section-1 .u-text-2 {
    width: 172px;
  }

  .u-section-1 .u-text-3 {
    width: 172px;
  }

  .u-section-1 .u-text-4 {
    width: 172px;
  }

  .u-section-1 .u-text-5 {
    width: 172px;
  }

  .u-section-1 .u-text-6 {
    width: 172px;
  }

  .u-section-1 .u-text-7 {
    width: 172px;
  }

  .u-section-1 .u-text-8 {
    width: 172px;
  }

  .u-section-1 .u-text-9 {
    width: 172px;
  }

  .u-section-1 .u-list-2 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 18px));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 774px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 13.5px));
    min-height: 1930px;
  }

  .u-section-1 .u-list-2 {
    width: 720px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: repeat(2, 50%);
    grid-gap: 0px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 50px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 50px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 50px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 50px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 50px;
  }

  .u-section-1 .u-list-2 {
    width: 540px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: repeat(1, 100%);
    grid-gap: 23px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 650px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    grid-gap: 7px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 0;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 0;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 0;
  }

  .u-section-1 .u-list-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 418px;
    grid-auto-columns: 100%;
    grid-gap: 8px;
  }

  .u-section-1 .u-list-item-9 {
    animation-duration: 1000ms;
  }

  .u-section-1 .u-image-9 {
    width: 142px;
    height: 142px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 42px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 35px;
  }

  .u-section-1 .u-list-item-10 {
    animation-duration: 1000ms;
  }

  .u-section-1 .u-image-10 {
    width: 142px;
    height: 142px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: 42px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: 35px;
  }

  .u-section-1 .u-list-item-11 {
    animation-duration: 1000ms;
  }

  .u-section-1 .u-image-11 {
    width: 142px;
    height: 142px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: 42px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-btn-11 {
    margin-top: 35px;
  }

  .u-section-1 .u-list-item-12 {
    animation-duration: 1000ms;
  }

  .u-section-1 .u-image-12 {
    width: 142px;
    height: 142px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: 42px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-btn-12 {
    margin-top: 35px;
  }

  .u-section-1 .u-list-item-13 {
    animation-duration: 1000ms;
  }

  .u-section-1 .u-image-13 {
    width: 142px;
    height: 142px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: 42px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-btn-13 {
    margin-top: 35px;
  }

  .u-section-1 .u-list-item-14 {
    animation-duration: 1000ms;
  }

  .u-section-1 .u-image-14 {
    width: 142px;
    height: 142px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: 42px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-btn-14 {
    margin-top: 35px;
  }

  .u-section-1 .u-list-item-15 {
    animation-duration: 1000ms;
  }

  .u-section-1 .u-image-15 {
    width: 142px;
    height: 142px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-top: 42px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-btn-15 {
    margin-top: 35px;
  }

  .u-section-1 .u-list-item-16 {
    animation-duration: 1000ms;
  }

  .u-section-1 .u-image-16 {
    width: 142px;
    height: 142px;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-top: 42px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-btn-16 {
    margin-top: 35px;
  }

  .u-section-1 .u-gallery-nav-1 {
    width: 20px;
    height: 20px;
    top: 228px;
  }

  .u-section-1 .u-gallery-nav-2 {
    width: 20px;
    height: 20px;
    left: auto;
    top: 228px;
    right: 8px;
  }
}